
    <nav>
        <a href="/home"><h2 class="logo">ZubZero - App</h2></a>
        <ul>
            {{#if user}}
                <li><a href="/weaks">Debilidades</a></li>
                <li><a href="/addWeak">Añadir debilidades</a></li>
                <li><a href="/logout">Cerrar sesion</a></li>
            {{else}}
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/register">Registrarse</a></li>
            {{/if}}
        </ul>
        <img src="https://cdn-icons-png.flaticon.com/512/2288/2288837.png" alt="menu" class="menu-icon">
    </nav>