
    <!-- form -->
    <div class="form">
        <h1>Añadir debilidad</h1>
        <form class="form-form" action="/addWeak" method="POST">
            <input type="text" placeholder="Nombre de la debilidad" name="name">
            <input type="text" placeholder="Descripcion de la debilidad" name="description">
            <input type="submit" value="Añadir">
        </form>
    </div>
    <img src="./images/fondo.jpg" alt="ZubZero" class="zubzero">