
    <div class="text-box">
        <h1>Bienvenido !!!</h1>
        <p>Esta es una aplicacion para que tu aprendas a jugar a <br> ZubZero de Mortal Kombat, anotando las debilidades <br> que tiene. </p>
        <a href="/weaks">Ver debilidades</a>
        <a href="/addWeak">Añadir debilidad</a>
    </div>
    <img src="./images/fondo.jpg" alt="ZubZero" class="zubzero">