
    <!-- form -->
    <div class="form">
        <h1>Crear cuenta</h1>
        <form class="form-form" action="/register" method="POST">
            <input type="email" placeholder="correo" name="email">
            <input type="password" placeholder="contraseña" name="password">
            <input type="password" placeholder="confirmar contraseña" name="reppassword">
            <input type="submit" value="Registrarse">
        </form>
        <p>Ya tienes cuenta <a href="/login">Inicia sesion aqui</a></p>
    </div>
    <img src="/images/fondo.jpg" alt="ZubZero" class="zubzero">